
body{
    background-color: black;
}

#foto{
     border-color: rgb(0, 0, 0);
    border-style: solid;
    border-width: 1px;
    position: relative;
    width: 100%;
    height: auto;
    max-width: 50%;
    margin: auto;
}
#nombre{
    position: relative;
    font-size: 18px;
    justify-content: center;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    width: 100%;
    height: auto;
    max-width: 100%
}


.bloquesizq{
    /*fondo*/
    background-color: rgb(200, 198, 198);
    
    position: relative;
    margin:0;
    padding: 0%;
    display: grid;
    justify-content: center;
    font-family: 'Wix Madefor Text', sans-serif;   
    width: 100%;
    height: auto;
    max-width: 100%
    }
#bloquehabilidades{ 
/*borde*/
border: 0px;
border-bottom: 1px;
border-top: 1px;
    border-color: rgb(0, 0, 0);
    border-style: solid;   
}

.contenedor{
    display:flex;
    align-items: center;
    justify-content: left;
    gap: 10px;
    margin-left: 5%;
    width: 100%;
    height: auto;
    max-width: 100%
}

.titulos{
    font-family: 'Quicksand', sans-serif;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: auto;
    max-width: 100%;
}

.iconos{
   width: 100%;
    height: auto;
    max-width: 10%
} 

.texto{
    font-family:'Wix Madefor Text', sans-serif;
    width: 100%;
    height: auto;
    max-width: 100%,
}

#informacionpersonal{
    font-size: 90%;
    width: 100%;
    height: auto;
    max-width: 100%;
}
.bloque{
    /*bordes*/
    border-left: 3px solid grey;
    /*fondo*/
    background-color: rgb(255, 255, 255);
    /*posicionamiento*/ 
    position: relative;
    margin:auto;
    
    display: grid;
    place-items:left;
    font-family: 'Wix Madefor Text', sans-serif;
    width: 100%;
    height: auto;
    max-width: 100%
}

.subtitulos{
    font-size: 20px;
    text-align: left;
   width: 100%;
    height: auto;
    max-width: 100%
}

.informacion{
    margin-left: 5%;
    text-align: left;
    width: 100%;
    height: auto;
    max-width: 100%
}

.circulos{
  list-style: none;
}

.circulos li::before{
  content: "○";
  font-size: 1em; /*1em significa el mismo tamaño que la fuente del <li>*/
  margin-left: 5%;
  margin-right: 2%;
}

#experiencia{
    border-top:2px solid rgb(0, 0, 0);
    display: grid;
    width: 100%;
    height: auto;
    max-width: 100%;
}

.conteiner {
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 100%;
    height: auto;
    max-width: 100%
}   

.item-1 { grid-column: 1; grid-row: 1; }
.item-2 { grid-column: 1; grid-row: 2; }
.item-3 { grid-column: 1; grid-row: 3; }

.item-4 { grid-column: 2; grid-row: 1; }
.item-5 { grid-column: 2; grid-row: 2; }
.item-6 { grid-column: 2; grid-row: 3; }
.item-7 { grid-column: 2; grid-row: 4; }

@media (max-width: 150px) {
  .conteiner {
    grid-template-columns: 1fr;
  }

  .item-1 { grid-column: 1; grid-row: 1; }
  .item-2 { grid-column: 1; grid-row: 2; }
  .item-3 { grid-column: 1; grid-row: 3; }
  .item-4 { grid-column: 1; grid-row: 4; }
  .item-5 { grid-column: 1; grid-row: 5; }
  .item-6 { grid-column: 1; grid-row: 6; }
  .item-7 { grid-column: 1; grid-row: 7; }
}
